In [3]:
!pip install shapely

Collecting shapely
  Downloading shapely-2.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.0 kB)
Requirement already satisfied: numpy>=1.14 in /home/manzer/QGIS-MobilityDB/.venv/lib/python3.12/site-packages (from shapely) (1.26.3)
Downloading shapely-2.0.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 6.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: shapely
Successfully installed shapely-2.0.2

In [1]:
import pandas as pd

In [2]:
ais = pd.read_csv(
    "../../aisdk-2023-08-01.zip",
    usecols=["# Timestamp", "MMSI", "Latitude", "Longitude", "SOG"],
)

In [3]:
ais.columns = ["t", "mmsi", "lat", "lon", "sog"]
ais = ais[ais["mmsi"] == 219020187]
ais = ais[ais["t"] != 0]
ais["t"] = pd.to_datetime(ais["t"], format='%d/%m/%Y %H:%M:%S')
ais = ais[ais["mmsi"] != 0]
ais = ais.drop_duplicates(["t", "mmsi"])
ais = ais[(ais["lat"] >= 40.18) & (ais["lat"] <= 84.17)]
ais = ais[(ais["lon"] >= -16.1) & (ais["lon"] <= 32.88)]
ais = ais[(ais["sog"] >= 0) & (ais["sog"] <= 1022)]
ais.dropna()
ais.head()

                       t       mmsi        lat       lon  sog
0    2023-08-01 00:00:00  219020187  56.795448  8.864770  0.0
1468 2023-08-01 00:00:12  219020187  56.795445  8.864765  0.0
2407 2023-08-01 00:00:20  219020187  56.795445  8.864763  0.0
3563 2023-08-01 00:00:30  219020187  56.795447  8.864767  0.0
4924 2023-08-01 00:00:41  219020187  56.795447  8.864770  0.0

In [4]:
from shapely.geometry import Point
ais["point"] = ais.apply(lambda row: Point(row['lon'], row['lat']), axis=1)

ais

,t,mmsi,lat,lon,sog,point
0,2023-08-01 00:00:00,219020187,56.795448,8.864770,0.0,POINT (8.86477 56.795448)
1468,2023-08-01 00:00:12,219020187,56.795445,8.864765,0.0,POINT (8.864765 56.795445)
2407,2023-08-01 00:00:20,219020187,56.795445,8.864763,0.0,POINT (8.864763 56.795445)
3563,2023-08-01 00:00:30,219020187,56.795447,8.864767,0.0,POINT (8.864767 56.795447)
4924,2023-08-01 00:00:41,219020187,56.795447,8.864770,0.0,POINT (8.86477 56.795447)
...,...,...,...,...,...,...
11796490,2023-08-01 23:58:50,219020187,56.795503,8.864763,0.0,POINT (8.864763 56.795503)
11797695,2023-08-01 23:59:00,219020187,56.795502,8.864768,0.0,POINT (8.864768 56.795502)
11801476,2023-08-01 23:59:31,219020187,56.795497,8.864768,0.0,POINT (8.864768 56.795497)
11802708,2023-08-01 23:59:41,219020187,56.795498,8.864767,0.0,POINT (8.864767 56.795498)
11803950,2023-08-01 23:59:51,219020187,56.795500,8.864767,0.0,POINT (8.864767 56.7955)